@keyframes arrowMove {
  0% {
    -webkit-transform: translateY(-5px);
    transform: translateY(-5px)
  }

  to {
    -webkit-transform: translateY(15px);
    transform: translateY(15px);
    opacity: 0
  }
}

header {
  position: relative;
  margin-top: 80px;
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
  clip-path: polygon(0 0, 100% 0, 100% 80%, 50% 100%, 0 80%);
  -webkit-clip-path: polygon(0 0, 100% 0, 100% 80%, 50% 100%, 0 80%);
  height: calc(100vh - 85px);
  color: #fff;
  font-weight: bold;
  letter-spacing: 2px;

  .bannerTxt {
    position: absolute;
    top: 38%;
    left: 0;
    right: 0;
    margin: auto;
    font-size: 26px;

    .txts {
      text-shadow: #3f3f3f 2px 2px 2px;
    }

    .bannerBtn {
      width: 150px;
      font-size: 20px;
    }
  }

  .arrow {
    position: absolute;
    bottom: 8%;
    left: 0;
    right: 0;
    font-size: 35px;
    animation: arrowMove 1s linear infinite;
    cursor: pointer;
  }
}

@media (max-width: 575.98px) {
  header {
    .bannerTxt {
      font-size: 22px;
      letter-spacing: 1px;

      .bannerBtn {
        width: 120px;
        font-size: 18px;
      }
    }

  }
}

.aboutUs {
  background-size: 30%;
  background-repeat: no-repeat;
  background-position: center;

  .aboutUsImg {
    margin-top: 40px;
    width: 300px;
    box-shadow: -15px -15px $primdark;
  }

  .aboutUsTxt {
    .line {
      width: 120px;
    }

    .h5 {
      line-height: 1.5;
    }
  }
}

@media (max-width: 767.98px) {
  .aboutUs {
    background-image: none !important;
  }
}

@media (max-width: 575.98px) {
  .aboutUs .aboutUsTxt {
    .h4 {
      font-size: 20px;
    }

    .h5 {
      font-size: 16px;
    }
  }
}

.arrival {
  margin-top: 100px;

  .line {
    width: 150px;
  }

  img {
    width: 100%;
  }

  .arrWrap {
    overflow: hidden;

    .arrImg {
      background-size: cover;
      background-repeat: no-repeat;
      background-position: center;
      width: 100%;
      height: 253px;
      transition: 1s;
      cursor: pointer;
    }

    .arrImg:hover {
      filter: brightness(1.2);
      transform: scale(1.1);
    }
  }

  .arrTxt {
    height: 253px;
    background-color: $egg;
    width: 100%;
    padding: 15px;

    .arrInner {
      border: 2px solid #fff;
      padding: 20px;
      height: 100%;
    }
  }

  @media (max-width: 991.98px) {

    .arrWrap .arrImg,
    .arrTxt {
      height: 288px;
    }
  }

  @media (max-width: 767.98px) {

    .arrWrap .arrImg,
    .arrTxt {
      height: 255px;
    }
  }
}

.middleBg {
  background-size: cover;
  background-attachment: fixed;
  height: 300px;
  margin: 100px 0;
  position: relative;

  .middleTxt {
    position: absolute;
    max-width: 680px;
    width: 90%;
    height: fit-content;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    margin: auto;
    color: #fff;
    font-weight: bold;
    letter-spacing: 2px;
    font-size: 26px;

    .txts {
      text-shadow: #3f3f3f 2px 2px 2px;
    }

    .middleBtn {
      width: 150px;
      font-size: 20px;
      cursor: pointer;
    }
  }
}

@media (max-width: 575.98px) {
  .middleBg {
    height: 250px;
    .middleTxt {
      font-size: 22px;

      .middleBtn {
        width: 120px;
        font-size: 18px;
      }
    }


  }
}

.hotSale {
  .line {
    width: 110px;
  }

  .row {
    max-width: 880px;
    margin: auto;
  }

  .goodWrap {
    position: relative;
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
    width: 100%;
    height: 0;
    padding-bottom: 88%;
    cursor: pointer;
    text-align: center;
    color: #ffffff;
    letter-spacing: 1px;

    .goodTitle {
      position: absolute;
      bottom: 0;
      padding: 10px;
      text-align: center;
      background-color: rgba(0, 0, 0, 0.2);
      width: 100%;
      font-size: 20px;
      font-weight: 900;
      transition: all 0.5s;
    }

    .goodDetail {
      position: absolute;
      top: 0;
      bottom: 0;
      left: 0;
      right: 0;
      margin: auto;
      background-color: rgba($primary, .6);
      height: 90%;
      width: 90%;
      transition: all 1s;

      h4 {
        border-bottom: 1px solid #fff;
        width: 60%;
        margin: auto;
        margin-top: 15%;
        margin-bottom: 20px;
        line-height: 50px;
      }

      p {
        font-size: 18px;
      }
    }
  }


}

@media (min-width: 768px) {
  .goodTitle {
    opacity: 1;
  }

  .goodDetail {
    opacity: 0;
  }

  .goodWrap:hover {
    .goodTitle {
      opacity: 0;
    }

    .goodDetail {
      opacity: 1;
    }
  }
}

@media (max-width: 767.98px) {
  .hotSale {
    .goodWrap {
      .goodTitle {
        opacity: 0;
      }

      .goodDetail {
        opacity: 1;

        h4 {
          font-size: 20px;
        }

        p {
          font-size: 16px;
        }
      }
    }
  }
}

.goShopBtn {
  text-align: center;
  padding: 60px;
  position: relative;

  hr {
    position: absolute;
    left: 50%;
    -webkit-transform: translateX(-50%) translateY(-50%);
    transform: translateX(-50%) translateY(-50%);
    width: 80%;
  }

  botton {
    padding: 6px 14px;
    letter-spacing: 1px;
    -webkit-transition: .3s;
    transition: .3s;
    -webkit-animation: beat .6s infinite;
    animation: beat .6s infinite;
  }
}